<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- === Page Basics === -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{{ site.name }}{% if page.title %} - {{ page.title  }}{% endif %}</title>
        <meta name="description" content="{% if page.description}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
        <!-- === Mobile Metas === -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">

{{ page.head }}
    </head>
    <body>
        {{ content }}
    </body>
</html>
