<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- === Page Basics === -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="icon" type="image/svg+xml" href="/public/images/gh0st.svg">
        <title>{{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}</title>
        <link rel="shortcut icon" href="/public/images/gh0st_small.png">
        <link rel="author" href="/humans.txt">
        <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
        <!-- === Mobile Metas === -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- === OpenGraph === -->
        <meta property="og:title" content="{{ site.name }}{% if page.title %} - {{ page.title }}{% endif%}">
        <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
        <meta property="og:image" content="{{ site.url }}{% if page.image %}{{ page.image }}{% else %}/public/images/gh0st_medium.png{% endif %}">
        <meta property="og:url" content="{{ site.url }}{{ page.url | remove: ".html" }}">
        <meta property="og:site_name" content="{{ site.name }}">
        <!-- === Twitter === -->
        <meta name="twitter:site" content="{{ site.twitter }}">
        <meta name="twitter:card" content="summary_large_image">
        <!-- === CSS Includes === -->
        <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" integrity="sha512-thoh2veB35ojlAhyYZC0eaztTAUhxLvSZlWrNtlV01njqs/UdY3421Jg7lX0Gq9SRdGVQeL8xeBp9x1IPyL1wQ==" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/firacode@5.2.0/distr/fira_code.css" integrity="sha512-LaxQmGd9k/pW51CsEy2nLIlbUXCgsyvUEVT5fSguN2b2OBwHjMi2aiUdEEXSMg8Jvy+bCB01as61aNrHnL2DYQ==" crossorigin="anonymous">
        <link rel="stylesheet" href="/public/css/customizations.css">
        <!-- === JS Includes === -->
        <script src="https://unpkg.com/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha512-q2vREMvON/xrz1KuOj5QKWmdvcHtM4XNbNer+Qbf4TOj+RMDnul0Fg3VmmYprdf3fnL1gZgzKhZszsp62r5Ugg==" crossorigin="anonymous"></script>
{{ page.head }}
    </head>
    <body>
        <nav class="navbar navbar-exapnd-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/public/images/gh0st.svg" height=30 class="d-inline-block align-top" alt="" loading="lazy">
                    <code>gh0st.sh</code>
                </a>
            </div>
        </nav>

        {{ content }}
    </body>
</html>
